@using System.Security.Claims
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var userName = User.FindFirstValue(ClaimTypes.GivenName);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - EduTests</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/EduTests.styles.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", required: false)
    <script type="module">
        import RefreshRuntime from "http://localhost:5173/@@react-refresh"
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
</head>
<body>
<header class="border-bottom">
    <ul class="header-navigation">
        <li class="site-title"><a asp-controller="Home" asp-action="Index">EduTests</a></li>
        <li><a asp-controller="Home" asp-action="PopularTests" class="nav-link">Популярные тесты</a></li>
    </ul>
    <ul class="header-navigation auth-navigation">
        @if (User.Identity.IsAuthenticated)
        {
            <li><img id="nav-avatar" src="/files/users/@userId" alt="Profile picture"/></li>
            <li><a href="/user/@userId" class="nav-link">@userName</a></li>
            <li><a href="/user/@userId/my_account" class="nav-link">
                <img src="/files/icons/myacocunt.png" alt="Личный кабинет" class="nav-icon">
            </a></li>
            <li><a asp-route="constructor" class="nav-link">
                <img src="/files/icons/constructor.png" alt="Конструктор" class="nav-icon">
            </a></li>
            <li><a asp-route="logout" class="nav-link">Выход</a></li>
        }
        else
        {
            <li><a asp-route="login" class="nav-link">Вход</a></li>
            <li><a asp-route="register" class="nav-link">Регистрация</a></li>
        }
    </ul>
</header>
<div class="container border-left border-right">
    @RenderBody()
</div>

<footer class="border-top footer text-muted">
    <p>EduTests 2026-2026. Все права защищены.</p>
    <p>Email: example@mail.com</p>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="module" src="http://localhost:5173/@@vite/client"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>