@model EduTests.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<script src="js/login.js"></script>
<body>
<h2>Login</h2>

<form method="post" id="login-form">
    @Html.AntiForgeryToken()
    
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Log in</button>
</form>

<p>
    Don't have an account? <a asp-action="Register">Register here</a>.
</p>
</body>
</html>