@using System.Security.Claims
@model EduTests.Models.UserSettingsViewModel

@{
    var userName = Model.User.Username;
    ViewBag.Title = "Личный кабинет пользователя " + userName;
}

@section Styles {
    <link rel="stylesheet" href="~/css/user-settings.css">
}

@section Scripts {
    <script>
        window.__INITIAL_DATA__ = @Html.Raw(Json.Serialize(Model));
    </script>
    <script type="module" src="http://localhost:5173/src/settingsScripts.jsx"></script>
}

<div id="user-card"></div>
<h2>Ваши тесты</h2>
<div id="tests"></div>
@if (User.FindFirstValue(ClaimTypes.Role) is "Administrator" or "Moderator")
{
    <h2>Жалобы</h2>
    <div id="reports"></div>
    <h2>Заблокированные пользователи</h2>
    <div id="banned-users"></div>
}
