@{
    ViewBag.Title = "Произошла ошибка";
}

<div class="text-center">
    <h1>Произошла ошибка</h1>
</div>

<p>Извините, во время обработки вашего запроса произошла ошибка. Данные неудачного запроса были автоматически отправлены разработчикам.</p>