@{
    ViewBag.Title = "Страница не найдена";
}

<div class="text-center">
    <h1>Страница не найдена</h1>
</div>

<p>Вы ищете несуществующую страницу, либо соответствующие материалы были удалены.</p>