#details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}