#tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#stats {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#test-start {
    display: flex;
    width: 100%;
    justify-content: center;
}

#start-test-button {
    width: 33%;
}